<!DOCTYPE html>
<html>
  <head>
    <title>Paynow</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <nav>
      <% if usuario_signed_in?%>
        <%= current_usuario.email %>
        <%= link_to 'Sair', destroy_usuario_session_path, method: :delete %>
        <a href="<%= root_path %>" class="" data-method="delete">Inicio</a>
      <% else %>
          <%= link_to 'Logar', new_usuario_session_path %>
          <%= link_to 'Criar conta', new_usuario_registration_path %>
      <% end %>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
